footer {
    border: 1px $color_1 solid;
    margin: 10px;
    background-color: #0D3D05;
    text-align: center;

    ul {
        li {
            list-style-type: none;
            @include anclas;
        }
    }
}