/*Mixin*/
/*Utilizado en el header y en el footer.*/
@mixin anclas {
    color: $color_2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


h1 {
    padding: 25px;
}

.logotipo {
    width: 150px;
    position: relative;
    right: 205px
}

.principal {
    text-align: center;
    border-bottom: 1px $color_2 dashed;

}

header {
    ul {
        li {
            display: inline-block;
            margin: 20px;
            border: 1.5px $color_2 solid;
            padding: 5px;
            position: relative;
            bottom: 25px;
        }
    }
}

a {
    @include anclas;
}

div {
    ul {
        li {
            list-style-type: none;
        }
    }
}
