@import "variables";
@import "carousel";
@import "footer";
@import "media";
@import "header";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

h1 {
    padding: 25px;
}
.logotipo {
    width: 150px;
    position: relative;
    right: 205px
}
.centrado {
    text-align: center;
}
.list-group {
    display: inline-block;
}

img {
    width: 500px;
}
